<div class="container">
    <h1>Sign In</h1>
    <p>{{errors}}</p>
    <form [formGroup]="loginFormGroup" (ngSubmit)="_loginIn(loginFormGroup.value)">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter email" name="email">
        <div *ngFor="let validation of account_validation_messages.email">
          <span *ngIf="loginFormGroup.get('email').hasError(validation.type) && (loginFormGroup.get('email').dirty || loginFormGroup.get('email').touched)">{{validation.message}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password" name="password">
        <div *ngFor="let validation of account_validation_messages.password">
          <span *ngIf="loginFormGroup.get('password').hasError(validation.type) && (loginFormGroup.get('password').dirty || loginFormGroup.get('password').touched)">{{validation.message}}</span>
        </div>
      </div>
      <button type="submit" class="btn btn-default" value="Log In" [disabled]="!loginFormGroup.valid" style="background-color:green;color:white;">Submit</button>
    </form>
  </div>