<div *ngIf="news" class="container">
  <table>
    <tr>
      <td id="header">
        <p id="title">{{ news.title }}</p>
        <p id="description">{{ news.description }}</p>
      </td>
      <td id="image">
        <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="News Image">
      </td>      
    </tr>    
    <tr>
      <td id="buttontd">
        <button class="btn btn-default" *ngIf="loggedInAdmin" style="background-color:red;color:white;" (click)="_deleteNews()">Delete News</button>
      </td>
    </tr>
  </table>
  <div id="summarydiv">
    <p id="summary">{{ news.summary }}</p>
  </div>
</div>