<div class="container" style="border-style: outset;padding: 20px;">
    <div *ngIf=news style="border-style: double;padding: 20px;background-color:green;">
      <p style="font-size:50px;font-weight: bolder;color: white;">{{ news.title }}</p>
      <p style="font-size:18px;font-weight: bold;color: white;">{{ news.description }}</p>
    </div>
    <div style="padding: 20px;border-style: groove;background-color:mediumseagreen;">
      <p *ngIf=news style="color: white;font-size: 15px;">{{ news.summary }}</p>
    </div>
    <button *ngIf=admin style="float:right" (click)="_deleteNews()">Delete News</button>
    <button *ngIf=admin style="float:right" (click)="_editNews()">Edit News</button>
  </div>