<h3 style="font-weight: bold;margin-left: 10px;">State Details</h3>
<table id="latestnews" style="width: 48%;margin-left: 5px;">
  <tr>
    <th>State Properties</th>
    <th>Data</th>
  </tr>
  <tr *ngIf="covidStateDetail">
    <td>State</td>
    <td>{{ covidStateDetail.state }}</td>
  </tr>
  <tr *ngIf="covidStateDetail">
    <td>Total Case</td>
    <td>{{ covidStateDetail.confirmed }}</td>
  </tr>
  <tr *ngIf="covidStateDetail">
    <td>Active Case</td>
    <td>{{ covidStateDetail.active }}</td>
  </tr>
  <tr *ngIf="covidStateDetail">
    <td>Deaths</td>
    <td>{{ covidStateDetail.deaths }}</td>
  </tr>
  <tr *ngIf="covidStateDetail">
    <td>Recovered</td>
    <td>{{ covidStateDetail.recovered }}</td>
  </tr>
</table>
&nbsp;
<h3 style="font-weight: bold;margin-left: 10px;">District Details</h3>
<div style="overflow-x:auto;">
    <table id="latestnews" style="margin-left: 5px;">
      <tr>
        <th>SNO</th>
        <th>District</th>
        <th>Total Case</th>
        <th>Active Case</th>
        <th>Deaths</th>
        <th>Recovered</th>
      </tr>
      <tr *ngFor="let districtDetail of covidStateDetail.districtData;let indexOfElement=index">
        <td>{{ indexOfElement + 1 }}.</td>
        <td>{{ districtDetail.district }}</td>
        <td>{{ districtDetail.confirmed }}</td>
        <td>{{ districtDetail.active }}</td>
        <td>{{ districtDetail.deceased }}</td>
        <td>{{ districtDetail.recovered }}</td>
      </tr>
    </table> 
  </div>