<div *ngIf="covidStateDetail">
  <h3>State Data</h3>
  <table id="state">
    <tr>
      <th>State Properties</th>
      <th>Data</th>
    </tr>
    <tr>
      <td>State</td>
      <td>{{ covidStateDetail.state }}</td>
    </tr>
    <tr>
      <td>Total Case</td>
      <td>{{ covidStateDetail.confirmed }}</td>
    </tr>
    <tr>
      <td>Active Case</td>
      <td>{{ covidStateDetail.active }}</td>
    </tr>
    <tr>
      <td>Deaths</td>
      <td>{{ covidStateDetail.deaths }}</td>
    </tr>
    <tr>
      <td>Recovered</td>
      <td>{{ covidStateDetail.recovered }}</td>
    </tr>
  </table>
  &nbsp;
  <h3>District Data</h3>
  <div id="districtdiv">
    <table id="district">
      <tr>
        <th>SNO</th>
        <th>District</th>
        <th>Total Case</th>
        <th>Active Case</th>
        <th>Deaths</th>
        <th>Recovered</th>
      </tr>
      <tr *ngFor="let districtDetail of covidStateDetail.districtData;let indexOfElement=index">
        <td>{{ indexOfElement + 1 }}.</td>
        <td>{{ districtDetail.district }}</td>
        <td>{{ districtDetail.confirmed }}</td>
        <td>{{ districtDetail.active }}</td>
        <td>{{ districtDetail.deceased }}</td>
        <td>{{ districtDetail.recovered }}</td>
      </tr>
    </table> 
  </div>
</div>