ul#navlist {
    list-style-type: none;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
}

li.navelement {
    float: left;
    width: 28%;
    list-style-position:inside;
    border: 1px solid green
}

li.navelement a {
    display: block;
    color: green;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.navelement a:hover {
    background-color: seagreen;
    color: white;
}